# Configuración de Base de Datos
DB_HOST=db
DB_PORT=5432
DB_USER=nestuser
DB_PASSWORD=12345
DB_NAME=proyecto-agil

# Configuración de la aplicación
NODE_ENV=development
PORT=3000

# JWT Secret (cambiar en producción)
JWT_SECRET=tu_jwt_secret_aqui
JWT_EXPIRES_IN=1h

# URL del servicio de autenticación
AUTH_URL=https://puclaro.ucn.cl/eross/avance

# CORS
CORS_ORIGIN=http://localhost:3001